h1{
    text-align: center;
}
#titleN{
    color: red;
}
#grid1{
    border: 5px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#maingrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.menu1{
    background-color: red;
    border-right: solid 1px black;
    text-align: center;
}
#menuR{
    border: none;
}
#topMenu{
    color:white;
}
#topMenu:hover, #sidemenu:hover{
    color: gray;
    text-decoration: solid;
}
body{
    background-color: black;
    color: white;
}
a{
    text-decoration: none;
    color:white;
}
#grid2{
    display: grid;
    grid-template-columns: 150px 1fr;
}
.menu2{
    padding: 50px;
    background-color: red;
    text-align: center;
    border-top: solid 1px black;
}


